{% extends "base.html" %}

{% block content %}
    <h1>
        Genre List
        <a href="{% url 'catalog:genre-create' %}" class="btn btn-primary link-to-page">
            Create
        </a>
    </h1>
    <div>
        {% if search_form %}
            {% include "includes/search.html" %}
        {% endif %}
    </div>
    {% if genre_list %}
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>

            {% for genre in genre_list %}
                <tr>
                    <td>
                        {{ genre.id }}
                    </td>
                    <td>
                        {{ genre.name }}
                    </td>
                    <td>
                        <a href="{% url 'catalog:genre-update' pk=genre.id %}">
                            Update
                        </a>
                    </td>
                    <td>
                        <a style="color: red"
                           href="{% url 'catalog:genre-delete' pk=genre.id %}">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no manufacturers in the service.</p>
    {% endif %}
{% endblock %}
