{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#    <div class="container my-5">#}
{#        <h1>{{ object|yesno:"Update,Create" }} Song</h1>#}
{#        <form action="" method="post" novalidate>#}
{#            {% csrf_token %}#}
{#            <div class="mb-3">#}
{#                <label for="id_title" class="form-label">Title</label>#}
{#                {{ form.title }}#}
{#                {% if form.title.errors %}#}
{#                    <div class="invalid-feedback">#}
{#                        {% for error in form.title.errors %}#}
{#                            <div>{{ error }}</div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endif %}#}
{#            </div>#}
{##}
{#            <div class="mb-3">#}
{#                <label for="id_duration" class="form-label">Duration (m/s)</label>#}
{#                {{ form.duration }}#}
{#                {% if form.duration.errors %}#}
{#                    <div class="invalid-feedback">#}
{#                        {% for error in form.duration.errors %}#}
{#                            <div>{{ error }}</div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endif %}#}
{#            </div>#}
{##}
{#            <div class="mb-3">#}
{#                <label for="id_genre" class="form-label">Genre</label>#}
{#                {{ form.genre }}#}
{#                {% if form.genre.errors %}#}
{#                    <div class="invalid-feedback">#}
{#                        {% for error in form.genre.errors %}#}
{#                            <div>{{ error }}</div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endif %}#}
{#            </div>#}
{##}
{#            <button type="submit" class="btn btn-primary">Submit</button>#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}


{% extends "base.html" %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow">
                    <div class="card-header text-center">
                        <h1>{{ object|yesno:"Update,Create" }} Song</h1>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" novalidate>
                            {% csrf_token %}
                            {{ form }}
                            <div class="d-grid">
                                <input type="submit" value="Submit" class="btn btn-primary btn-block">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}